.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginForm .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-30px);
    width:80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    border: .5px solid #ccc;
    box-shadow: 0px 9px 17px -4px rgb(0 0 0 / 30%);
}

.loginForm .logo img{
    width: 65%;
    height: 65%;
}

.loginForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:60px;
    background-color: #eee;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 10%);
    border: .5px solid #ccc;
}

.loginForm form h1{
    font-size: calc(12px + 1vw);
    color: #1553a1;
    /* font-family: var(--headFont); */
    font-family:CaustenBold;
}

.loginForm form input{
    padding:3px 10px;
    border:1px solid transparent;
    font-size: 15px;
    font-family: Causten;
    letter-spacing: .5px;
}

.loginForm form input:focus{
    outline: none;
}

.loginForm form .btnDiv{
    display:flex;
    justify-content: center;
}

.loginForm form .btnDiv button{
    padding:4px 10px;
    background-color: #1553a1;
    color:#fff;
    font-weight: 500;
    transition: all .5s ease;
    font-size: 14px;
    margin-top: 10px;
    border:1px solid #1553a1;
    font-family: Causten;
    padding-bottom: 2px;
    letter-spacing: 1px;
}

.loginForm form .btnDiv button:focus{
    outline: 0.5px solid rgba(0, 0, 0, 100%);
}

.loginForm form .btnDiv button:hover{
    background-color: #0069e9;
}

.eachLingformInput{
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding:3px 0px;
}

.eachLingformInput .fa-solid{
    padding-left: 10px;
    color:rgb(155, 155, 155);
}