.userIconAdmin{
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.userIconAdmin h5{
    margin-bottom: 0;
    font-size: 16px;
}

.userIconAdmin p{
    margin-bottom: 0;
    line-height: 15px;
}

.userIconAdmin .imgDiv h4{
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: rgba(20 ,86 ,163 ,15%);
    border:1px solid rgba(20 ,86 ,163 ,30%);
    margin-right: 7px;
    color:rgb(68, 68, 68);
    font-size: 18px;
    user-select: none;
    position: relative;
    margin-bottom: 0px;
}

.userIconAdmin .imgDiv h4::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(8, 219, 8);
    /* border:1px solid rgb(3, 119, 3); */
    outline: 2px solid #fff;
    top:0;
    right: 1px;
}

.logoutLink a{
    padding:0;
}