

.userIconAdmin .fa-solid{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--blueMain);
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 10px;
}

.userIconAdmin h5{
    margin-bottom: 0;
    font-size: 16px;
}

.userIconAdmin p{
    margin-bottom: 0;
    line-height: 15px;
}

.userIconAdmin .imgDiv h4{
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: rgba(20 ,86 ,163 ,15%);
    border:1px solid rgba(20 ,86 ,163 ,30%);
    margin-right: 7px;
    color:rgb(68, 68, 68);
    font-size: 20px;
}

.logoutLink a{
    padding:0;
}